/* Reset margins and paddings */
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Set default font family and font size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: snow;
}

/* Remove outline on focused elements */
:focus {
    outline: none;
}